*{
	margin: 0;
	border: 0;
	padding: 0;
}

.navbar-brand {
  margin-top: -10px;
}
.navbar-nav > li{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 130%;

}

.navbar-header > img {
  margin-top: 15px;
}

.jumbotron {
  text-align: center;
  color: white;
  background-color: #92BEDC;
}

.about {
  margin-bottom: 30px;
}

.about p {
  text-align: justify;
}

.about ul li, .about cite  {
  margin-left: 20px;
}

.deals-header h1 {
  text-align: center;
  margin: 30px 0 30px 0;
  text-decoration: underline;
}

.recent-img img {
  width: 70%;
  height: auto;
  margin-left: 50px;
}

h3 {
  text-align: center;
}

.clearfix {
	clear: both;
}

.recent {
  padding-bottom: 30px;
}

/* Parallax Styling */

.parallax-1, .parallax-2 {
	background: url("img/parallax-2.jpg") repeat fixed 100%;
	text-align: center;
}


.info1 {
  color: white;
  margin: 50px 30px 50px 30px;
}

.info1 h3 {
  font-size: 250%;
  text-decoration: underline;
}

.info2 h3, .info3 h3 {
  font-size: 200%;
  text-decoration: underline;
  color: white;
}

.info2 ol li {
  margin-left: 80px;
	text-align: left;
	color: #F1F1F1;
	line-height: 40px;
}

.info3 p {
  text-align: left;
  color: white;
  margin-top: 20px;
  margin-left: 25px;
}

.testimonial {
  margin-top: 30px;
  margin-bottom: 60px;
}

.testimonial h1 {
  text-align: center;
  text-decoration: underline;
}

.testimonial cite {
  float: right;
}

footer {
  background-color: #222;
}

.tracy img {
  border-radius: 40%;
  width: 70%;
  height: auto;
  margin: 15px 0 15px 25px;
}

.contact-info h3, .contact-info p {
  text-align: left;
  color: white;
}

.contact-info {
  margin-left: -40px;
}

.logo img {
  width: 98%;
  height: auto;
  margin-top: 60px;
  margin-left: -40px;
}
